# CSV data folders
CSV-Files/

# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Poetry
.poetry/
dist/

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo 